App_WebReferences/LotteryWebService/DBService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="InsertUserInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PhoneNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DOB" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Country" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IdType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IdNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Address" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="State" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Code" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertUserInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InsertUserInfoResult" type="tns:WebServiceResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="WebServiceResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Result" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Error" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="VerifyUserLogin">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VerifyUserLoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="VerifyUserLoginResult" type="tns:WebServiceResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertTicketInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TicketNo" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="TicketPrice" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="PriceAmount" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="DisplayDate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="CloseDate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="DrawDate" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="Status" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertTicketInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InsertTicketInfoResult" type="tns:WebServiceResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTicketInfo">
        <s:complexType />
      </s:element>
      <s:element name="GetTicketInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTicketInfoResult" type="tns:TicketInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="TicketInfo">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="TicketCount" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="TicketNo" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="PriceAmount" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TicketPrice" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CloseDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Status" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Error" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="IsExistingUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsExistingUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="IsExistingUserResult" type="tns:WebServiceResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EmailId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserInfoResult" type="tns:UserInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="UserInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PhoneNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DateOfBirth" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Nationality" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IDType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IdNo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Address" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="State" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Code" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Status" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Error" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetUsersInfo">
        <s:complexType />
      </s:element>
      <s:element name="GetUsersInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUsersInfoResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="InsertUserInfoSoapIn">
    <wsdl:part name="parameters" element="tns:InsertUserInfo" />
  </wsdl:message>
  <wsdl:message name="InsertUserInfoSoapOut">
    <wsdl:part name="parameters" element="tns:InsertUserInfoResponse" />
  </wsdl:message>
  <wsdl:message name="VerifyUserLoginSoapIn">
    <wsdl:part name="parameters" element="tns:VerifyUserLogin" />
  </wsdl:message>
  <wsdl:message name="VerifyUserLoginSoapOut">
    <wsdl:part name="parameters" element="tns:VerifyUserLoginResponse" />
  </wsdl:message>
  <wsdl:message name="InsertTicketInfoSoapIn">
    <wsdl:part name="parameters" element="tns:InsertTicketInfo" />
  </wsdl:message>
  <wsdl:message name="InsertTicketInfoSoapOut">
    <wsdl:part name="parameters" element="tns:InsertTicketInfoResponse" />
  </wsdl:message>
  <wsdl:message name="GetTicketInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetTicketInfo" />
  </wsdl:message>
  <wsdl:message name="GetTicketInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetTicketInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IsExistingUserSoapIn">
    <wsdl:part name="parameters" element="tns:IsExistingUser" />
  </wsdl:message>
  <wsdl:message name="IsExistingUserSoapOut">
    <wsdl:part name="parameters" element="tns:IsExistingUserResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserInfo" />
  </wsdl:message>
  <wsdl:message name="GetUserInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserInfoResponse" />
  </wsdl:message>
  <wsdl:message name="GetUsersInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetUsersInfo" />
  </wsdl:message>
  <wsdl:message name="GetUsersInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetUsersInfoResponse" />
  </wsdl:message>
  <wsdl:portType name="DBServiceSoap">
    <wsdl:operation name="InsertUserInfo">
      <wsdl:input message="tns:InsertUserInfoSoapIn" />
      <wsdl:output message="tns:InsertUserInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="VerifyUserLogin">
      <wsdl:input message="tns:VerifyUserLoginSoapIn" />
      <wsdl:output message="tns:VerifyUserLoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertTicketInfo">
      <wsdl:input message="tns:InsertTicketInfoSoapIn" />
      <wsdl:output message="tns:InsertTicketInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTicketInfo">
      <wsdl:input message="tns:GetTicketInfoSoapIn" />
      <wsdl:output message="tns:GetTicketInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IsExistingUser">
      <wsdl:input message="tns:IsExistingUserSoapIn" />
      <wsdl:output message="tns:IsExistingUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserInfo">
      <wsdl:input message="tns:GetUserInfoSoapIn" />
      <wsdl:output message="tns:GetUserInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUsersInfo">
      <wsdl:input message="tns:GetUsersInfoSoapIn" />
      <wsdl:output message="tns:GetUsersInfoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DBServiceSoap" type="tns:DBServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertUserInfo">
      <soap:operation soapAction="http://tempuri.org/InsertUserInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerifyUserLogin">
      <soap:operation soapAction="http://tempuri.org/VerifyUserLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertTicketInfo">
      <soap:operation soapAction="http://tempuri.org/InsertTicketInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTicketInfo">
      <soap:operation soapAction="http://tempuri.org/GetTicketInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsExistingUser">
      <soap:operation soapAction="http://tempuri.org/IsExistingUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserInfo">
      <soap:operation soapAction="http://tempuri.org/GetUserInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsersInfo">
      <soap:operation soapAction="http://tempuri.org/GetUsersInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DBServiceSoap12" type="tns:DBServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertUserInfo">
      <soap12:operation soapAction="http://tempuri.org/InsertUserInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerifyUserLogin">
      <soap12:operation soapAction="http://tempuri.org/VerifyUserLogin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertTicketInfo">
      <soap12:operation soapAction="http://tempuri.org/InsertTicketInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTicketInfo">
      <soap12:operation soapAction="http://tempuri.org/GetTicketInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsExistingUser">
      <soap12:operation soapAction="http://tempuri.org/IsExistingUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserInfo">
      <soap12:operation soapAction="http://tempuri.org/GetUserInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsersInfo">
      <soap12:operation soapAction="http://tempuri.org/GetUsersInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DBService">
    <wsdl:port name="DBServiceSoap" binding="tns:DBServiceSoap">
      <soap:address location="https://localhost:44351/DBService.asmx" />
    </wsdl:port>
    <wsdl:port name="DBServiceSoap12" binding="tns:DBServiceSoap12">
      <soap12:address location="https://localhost:44351/DBService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>