App_WebReferences/LotteryWebService/DBService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="insertUserInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PhoneNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DOB" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Country" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IdType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IdNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Address" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="State" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Code" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertUserInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="insertUserInfoResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="verifyUserLogin">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="verifyUserLoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="verifyUserLoginResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertTicketInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TicketNo" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="TicketPrice" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="PriceAmount" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="DisplayDate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="CloseDate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="DrawDate" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="Status" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertTicketInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="insertTicketInfoResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getTicketCount">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TicketNo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getTicketCountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getTicketCountResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="insertUserInfoSoapIn">
    <wsdl:part name="parameters" element="tns:insertUserInfo" />
  </wsdl:message>
  <wsdl:message name="insertUserInfoSoapOut">
    <wsdl:part name="parameters" element="tns:insertUserInfoResponse" />
  </wsdl:message>
  <wsdl:message name="verifyUserLoginSoapIn">
    <wsdl:part name="parameters" element="tns:verifyUserLogin" />
  </wsdl:message>
  <wsdl:message name="verifyUserLoginSoapOut">
    <wsdl:part name="parameters" element="tns:verifyUserLoginResponse" />
  </wsdl:message>
  <wsdl:message name="insertTicketInfoSoapIn">
    <wsdl:part name="parameters" element="tns:insertTicketInfo" />
  </wsdl:message>
  <wsdl:message name="insertTicketInfoSoapOut">
    <wsdl:part name="parameters" element="tns:insertTicketInfoResponse" />
  </wsdl:message>
  <wsdl:message name="getTicketCountSoapIn">
    <wsdl:part name="parameters" element="tns:getTicketCount" />
  </wsdl:message>
  <wsdl:message name="getTicketCountSoapOut">
    <wsdl:part name="parameters" element="tns:getTicketCountResponse" />
  </wsdl:message>
  <wsdl:portType name="DBServiceSoap">
    <wsdl:operation name="insertUserInfo">
      <wsdl:input message="tns:insertUserInfoSoapIn" />
      <wsdl:output message="tns:insertUserInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="verifyUserLogin">
      <wsdl:input message="tns:verifyUserLoginSoapIn" />
      <wsdl:output message="tns:verifyUserLoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="insertTicketInfo">
      <wsdl:input message="tns:insertTicketInfoSoapIn" />
      <wsdl:output message="tns:insertTicketInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getTicketCount">
      <wsdl:input message="tns:getTicketCountSoapIn" />
      <wsdl:output message="tns:getTicketCountSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DBServiceSoap" type="tns:DBServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="insertUserInfo">
      <soap:operation soapAction="http://tempuri.org/insertUserInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="verifyUserLogin">
      <soap:operation soapAction="http://tempuri.org/verifyUserLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertTicketInfo">
      <soap:operation soapAction="http://tempuri.org/insertTicketInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTicketCount">
      <soap:operation soapAction="http://tempuri.org/getTicketCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DBServiceSoap12" type="tns:DBServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="insertUserInfo">
      <soap12:operation soapAction="http://tempuri.org/insertUserInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="verifyUserLogin">
      <soap12:operation soapAction="http://tempuri.org/verifyUserLogin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertTicketInfo">
      <soap12:operation soapAction="http://tempuri.org/insertTicketInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTicketCount">
      <soap12:operation soapAction="http://tempuri.org/getTicketCount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DBService">
    <wsdl:port name="DBServiceSoap" binding="tns:DBServiceSoap">
      <soap:address location="https://localhost:44351/DBService.asmx" />
    </wsdl:port>
    <wsdl:port name="DBServiceSoap12" binding="tns:DBServiceSoap12">
      <soap12:address location="https://localhost:44351/DBService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>