App_WebReferences/MailService/Mail.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="sendActivationEmail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EmailId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="url" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="sendActivationEmailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="sendActivationEmailResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="verifyActivationEmail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="activationCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="verifyActivationEmailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="verifyActivationEmailResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="sendActivationEmailSoapIn">
    <wsdl:part name="parameters" element="tns:sendActivationEmail" />
  </wsdl:message>
  <wsdl:message name="sendActivationEmailSoapOut">
    <wsdl:part name="parameters" element="tns:sendActivationEmailResponse" />
  </wsdl:message>
  <wsdl:message name="verifyActivationEmailSoapIn">
    <wsdl:part name="parameters" element="tns:verifyActivationEmail" />
  </wsdl:message>
  <wsdl:message name="verifyActivationEmailSoapOut">
    <wsdl:part name="parameters" element="tns:verifyActivationEmailResponse" />
  </wsdl:message>
  <wsdl:portType name="MailSoap">
    <wsdl:operation name="sendActivationEmail">
      <wsdl:input message="tns:sendActivationEmailSoapIn" />
      <wsdl:output message="tns:sendActivationEmailSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="verifyActivationEmail">
      <wsdl:input message="tns:verifyActivationEmailSoapIn" />
      <wsdl:output message="tns:verifyActivationEmailSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MailSoap" type="tns:MailSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="sendActivationEmail">
      <soap:operation soapAction="http://tempuri.org/sendActivationEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="verifyActivationEmail">
      <soap:operation soapAction="http://tempuri.org/verifyActivationEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MailSoap12" type="tns:MailSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="sendActivationEmail">
      <soap12:operation soapAction="http://tempuri.org/sendActivationEmail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="verifyActivationEmail">
      <soap12:operation soapAction="http://tempuri.org/verifyActivationEmail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Mail">
    <wsdl:port name="MailSoap" binding="tns:MailSoap">
      <soap:address location="https://localhost:44351/Mail.asmx" />
    </wsdl:port>
    <wsdl:port name="MailSoap12" binding="tns:MailSoap12">
      <soap12:address location="https://localhost:44351/Mail.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>