App_WebReferences/MailService/Mail.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="SendActivationEmail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EmailId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="url" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendActivationEmailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendActivationEmailResult" type="tns:WebServiceResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="WebServiceResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Status" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Error" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="SendForgetEmail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EmailId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="url" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="dt" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendForgetEmailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendForgetEmailResult" type="tns:WebServiceResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VerifyActivationEmail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="activationCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VerifyActivationEmailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="VerifyActivationEmailResult" type="tns:WebServiceResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SendActivationEmailSoapIn">
    <wsdl:part name="parameters" element="tns:SendActivationEmail" />
  </wsdl:message>
  <wsdl:message name="SendActivationEmailSoapOut">
    <wsdl:part name="parameters" element="tns:SendActivationEmailResponse" />
  </wsdl:message>
  <wsdl:message name="SendForgetEmailSoapIn">
    <wsdl:part name="parameters" element="tns:SendForgetEmail" />
  </wsdl:message>
  <wsdl:message name="SendForgetEmailSoapOut">
    <wsdl:part name="parameters" element="tns:SendForgetEmailResponse" />
  </wsdl:message>
  <wsdl:message name="VerifyActivationEmailSoapIn">
    <wsdl:part name="parameters" element="tns:VerifyActivationEmail" />
  </wsdl:message>
  <wsdl:message name="VerifyActivationEmailSoapOut">
    <wsdl:part name="parameters" element="tns:VerifyActivationEmailResponse" />
  </wsdl:message>
  <wsdl:portType name="MailSoap">
    <wsdl:operation name="SendActivationEmail">
      <wsdl:input message="tns:SendActivationEmailSoapIn" />
      <wsdl:output message="tns:SendActivationEmailSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendForgetEmail">
      <wsdl:input message="tns:SendForgetEmailSoapIn" />
      <wsdl:output message="tns:SendForgetEmailSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="VerifyActivationEmail">
      <wsdl:input message="tns:VerifyActivationEmailSoapIn" />
      <wsdl:output message="tns:VerifyActivationEmailSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MailSoap" type="tns:MailSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendActivationEmail">
      <soap:operation soapAction="http://tempuri.org/SendActivationEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendForgetEmail">
      <soap:operation soapAction="http://tempuri.org/SendForgetEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerifyActivationEmail">
      <soap:operation soapAction="http://tempuri.org/VerifyActivationEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MailSoap12" type="tns:MailSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendActivationEmail">
      <soap12:operation soapAction="http://tempuri.org/SendActivationEmail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendForgetEmail">
      <soap12:operation soapAction="http://tempuri.org/SendForgetEmail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerifyActivationEmail">
      <soap12:operation soapAction="http://tempuri.org/VerifyActivationEmail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Mail">
    <wsdl:port name="MailSoap" binding="tns:MailSoap">
      <soap:address location="https://localhost:44351/Mail.asmx" />
    </wsdl:port>
    <wsdl:port name="MailSoap12" binding="tns:MailSoap12">
      <soap12:address location="https://localhost:44351/Mail.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>